.profile__edit-button {
  margin: 7px 0 0 10px;
  padding: 0;
  border: 1px solid #FFFFFF;
  background: url(../../../images/profile__edit-button.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 7.5px 7.5px;
  width: 18px;
  height: 18px;
  text-decoration: none;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  transition: .2s ease-in-out;
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .profile__edit-button {
    margin-left: 19px;
    margin-bottom: 11px;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    background-size: 10px 10px;
  }
}