.popup__input {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  transition: 0.1s linear;
  margin-bottom: 40px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;  
}

.popup__input:focus {
    transition: outline-offset .2s ease-in-out;
    outline: 2px solid rgba(0, 0, 0, .6);;
    outline-offset: 3px;
}

.popup__input:hover {
  background-color: #7c888e;
  opacity: .6;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

@media screen and (min-width: 1000px) {
  .popup__input{
    margin-left: 28px;
  }
}