.profile__subtitle {
  display: block;
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 6px 0 33px 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  .profile__subtitle {
    align-self: flex-start;
    font-size: 18px;
    line-height: 22px;
    padding-left: 0;
  }
}