.profile__edit-form-label {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  align-self: start;
  margin-left: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
  .profile__edit-form-label {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}