.profile__edit-button-image {
  display: block;
  padding: 0;
  margin: 5.25px;
  object-fit: cover;
  width: 7.5px;
  height: 7.5px;
}

@media screen and (min-width: 879px) {
  .profile__edit-button-image {
    width: 10px;
    height: 10px;
    margin: 7px;
    align-self: baseline;
  }
}