.profile__edit-form-button-save {
  background: #000000;
  border-radius: 2px;
  margin-top: 45px;
  margin-bottom: 25px;
  padding: 0;
  min-width: 238px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}


.profile__edit-form-button-save:hover {
  transition: .2s ease-in-out;
  opacity: .8;
  cursor: pointer;
}

@media screen and (min-width: 879px) {
  .profile__edit-form-button-save {
    font-size: 18px;
    line-height: 22px;
    min-width: 358px;

  }
}