.profile__avatar {
  margin: 42px 0 26px;
  object-fit: cover;
  border-radius: 120px;
  box-sizing: border-box;
  width: 120px;
  position: relative;
  transition: .2s ease-in-out;
}

.profile__avatar:hover {
  opacity: .6;
  cursor: pointer;
}

.profile__avatar:hover:before {
  content: url(../../../images/update_avatar_icon.svg);
  background: no-repeat;
  background-position: 50% 50%;
  background-size: 26px 26px;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 44px;
  left: 46px;
  
}