.profile__edit-form-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../images/profile__edit-form-button-close.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
  border: 0;
  border-radius: 0;
  padding: 0;
  align-self: end;
  margin-bottom: 16px;
  width: 20px;
  height: 20px;
}

.profile__edit-form-button-close:hover {
  transition: .2s ease-in-out;
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .profile__edit-form-button-close {
    width: 32px;
    height: 32px;
    position: relative;
    right: -40px;
    top: 7px;
    background-size: 32px 32px;
  }
}