.profile__edit-form {
  display: flex;
  flex-direction: column;
  margin: 85px auto 0;
  max-width: 288px;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 15;
  opacity: 1;
  border-radius: 10px;
}

@media screen and (min-width: 1000px) {
  .profile__edit-form {
    max-width: 430px;
    margin-top: 145px;
  }
}